<h2>All Songs</h2>

<div class="container">
  <div class="col-md-2">
    <ul class="list-group">
    <% @songs.each do |song| %>
      <%= link_to song.title, song_path(song), class:"list-group-item" %>
    <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <br/>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <%= link_to "Artists", artists_path, class:"btn btn-info"%>
    <%= link_to "Playlists", playlists_path, class:"btn btn-info"%>
  </div>
</div>